p {
    font-size: 20px;
}

.options {
    text-align: center;
}

.btn {
    margin: 14px 16px;
    width:80%;
}

.scoresBtn {
    all: unset;
    color: blueviolet;
    text-decoration: underline;
    cursor: grab;
}

.scoresBtn:hover {
    font-size: larger;
}

.scoresBtn:active {
    cursor: grabbing;
}

button {
    background-color: blueviolet;
    color: white;
}